@media (max-width: 1680px) {
    #about-hero{
        height: 915px;
    }
}
@media (max-width: 1366px) {
    #about-hero{
        height: 750px;
    }
}
@media (max-width: 900px) {
    #about-hero{
        height: 100vh;
    }
}
.hello{
    color: rgba(138,92,246,0.315);
}