@media (max-width: 1680px) {
    #contact-hero{
        height: 915px;
    }
}
@media (max-width: 1366px) {
    #contact-hero{
        height: 750px;
    }
}
@media (max-width: 900px) {
    #contact-hero{
        height: 100vh;
    }
}